.bright-red {
    color: red;
}

:root {
    --text-color: #ffffff;
    --primary-color: #F660AB;
    --secondary-color: #5FF5AA;
}

* {
    box-sizing: border-box;
}

body {

    height: 100%;
    
    color: var(--text-color);
    font-family: 'Figtree', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
    background-image: linear-gradient(225deg, lightpink 30%, violet 60%, #96DED1 100%);
    background-attachment: fixed;
}

/* ================
     Typography
   ================ */

h1, h2, h3, main>p {
    max-width: 75ch;
}

h1 {
    font-size: 33px;
    font-weight: 700;
}

p {
    font-size: 18px;
    color: var(--text-color);
}

/* ---- list items styling ----  */

.strike-through {
    text-decoration: line-through; 
} 

.delete {
    display: none;
}

/* ----------------------------  */

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
}

/* ================
    Components
   ================ */

/* container  */

.container{
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;}

/* form  */

form {
    display: inline-block;
}

/* list */

ol {
    padding-left: 20px;
}

ol li {
    padding: 50 px;
}

li:hover{
  cursor: pointer;
 }

.delete-button {
    background: none;
    border: none;
    color: red;
    font-weight: 800;
}

/* buttons */

button, input[type=submit] {
    border: 2px solid var(--primary-color);
    /* takes the font from the outer container --- isn't font family inherited anyway? */
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 3px solid red;
    transition: opacity 0.2s;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}

button a:hover {
    color: var(--text-color);
}
